<div class='pic-stream'>

    <li><img src= 'https://c1.staticflickr.com/3/2488/4118054790_4397f78dc6_b.jpg'></li>
    <li><img src= 'https://c1.staticflickr.com/3/2319/1562953192_c791ff6d2b_z.jpg?zz=1'></li>
    <li><img src= 'https://c2.staticflickr.com/6/5451/7007047202_aa734d701c.jpg'></li>
    <li><img src= 'https://c1.staticflickr.com/3/2283/1732115863_4ad306644d_b.jpg'></li>

</div>

<footer>
  footer placeholder
</footer>
