<%= react_component('Top') %>
<div class='profile-div'>
  <img src="https://c1.staticflickr.com/3/2119/1836321996_40835c201a_b.jpg">
  <p> BEE_TS_ME </p>
  <p> Follow </p>
  <p> Followers: 131234 </p>
  <p> Following: 2 </p>
<div/>

<div class='pic-stream'>
  <img src= 'https://c1.staticflickr.com/3/2181/1568918513_b944560a2e_z.jpg?zz=1' >
  <img src= 'https://c1.staticflickr.com/3/2488/4118054790_4397f78dc6_b.jpg'>
  <img src= 'https://c1.staticflickr.com/3/2319/1562953192_c791ff6d2b_z.jpg?zz=1'>
  <img src= 'https://c2.staticflickr.com/6/5451/7007047202_aa734d701c.jpg'>
  <img src= 'https://c1.staticflickr.com/3/2283/1732115863_4ad306644d_b.jpg'>
</div>

<footer>
  footer placeholder
</footer>
